.u-section-1 {
  background-image: url("images/2175808383-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  width: 589px;
  margin: 154px auto 0;
}

.u-section-1 .u-group-1 {
  width: 538px;
  min-height: 445px;
  background-image: none;
  margin: 0 auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-form-1 {
  height: 220px;
  width: 438px;
  margin: 57px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  margin-left: auto;
  font-size: 1.25rem;
  letter-spacing: 1px;
  width: 40%;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 10px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    width: 618px;
    font-size: 3rem;
    margin-top: 996px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 412px;
    min-height: 466px;
    margin-top: -1084px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -563px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 125px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 928px;
    margin-left: 141px;
    margin-right: 141px;
  }

  .u-section-1 .u-group-1 {
    width: 439px;
    margin-top: -935px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -414px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -94px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-group-1 {
    width: 430px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 1032px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 289px;
    margin-top: -1024px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -369px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}