.u-section-1 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-1 .u-text-1 {
  margin: 2px 365px 0;
}

.u-section-1 .u-text-2 {
  width: 410px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 650px 0 80px;
}

.u-section-1 .u-text-4 {
  margin: -24px 80px 0 650px;
}

.u-section-1 .u-form-1 {
  height: 157px;
  margin: -3px 570px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-2 {
  height: 155px;
  margin: -157px 0 0 570px;
}

.u-section-1 .u-text-5 {
  margin: 0 650px 0 80px;
}

.u-section-1 .u-text-6 {
  margin: -24px 88px 0 642px;
}

.u-section-1 .u-form-3 {
  height: 155px;
  margin: 2px 570px 0 0;
}

.u-section-1 .u-form-4 {
  height: 155px;
  margin: -155px 0 0 570px;
}

.u-section-1 .u-form-5 {
  height: 357px;
  margin: 20px 0 0 570px;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-text-7 {
  margin: -225px 650px 0 80px;
}

.u-section-1 .u-text-8 {
  width: 410px;
  margin: 177px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-block-d5f4-35 {
  background-image: none;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: 16px auto 41px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 144px;
    margin-left: 365px;
    margin-right: 365px;
  }

  .u-section-1 .u-text-3 {
    width: 410px;
    margin-right: 630px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
    margin-right: 100px;
    margin-left: 630px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: -10px;
    margin-left: 89px;
  }

  .u-section-1 .u-form-2 {
    width: 470px;
    margin-top: -296px;
  }

  .u-section-1 .u-text-5 {
    width: 410px;
    margin-top: 211px;
    margin-left: 365px;
    margin-right: 365px;
  }

  .u-section-1 .u-text-6 {
    width: 410px;
    margin-top: 110px;
    margin-left: 365px;
    margin-right: 365px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -131px;
  }

  .u-section-1 .u-form-4 {
    margin-left: 370px;
  }

  .u-section-1 .u-form-5 {
    margin-top: 108px;
    margin-right: 342px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -114px;
    margin-right: 530px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -91px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 502px;
    margin-right: initial;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -230px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 520px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 210px;
    margin-left: 520px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -130px;
    margin-right: 350px;
    margin-left: 199px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -176px;
    margin-left: 350px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -251px;
    margin-right: 350px;
  }

  .u-section-1 .u-form-4 {
    margin-top: -169px;
    margin-left: 150px;
  }

  .u-section-1 .u-form-5 {
    margin-top: -457px;
    margin-right: 150px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -234px;
    margin-right: 310px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 78px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 333px;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 430px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 300px;
    margin-left: 430px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 311px;
    margin-left: 289px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -247px;
    margin-left: 170px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -180px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-4 {
    margin-left: 0;
  }

  .u-section-1 .u-form-5 {
    margin-top: -545px;
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -163px;
    margin-right: 130px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -42px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 470px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 153px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 96px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -220px;
    margin-right: 411px;
    margin-left: 389px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-1 .u-form-5 {
    margin-top: -436px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -281px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
    margin-top: 85px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 357px;
    margin-right: initial;
  }

  .u-section-1 .u-btn-6 {
    margin-bottom: 41px;
  }
}