pip install mysql-connector

pip install mysql-connector-python

py initial.py

Start it by running initial.py. You'll need the MySQL connector for Python 3.4, and the tkinter library. You'll also need to have a MySQL database set up, and the credentials inserted in databaseConnection.py.

https://github.com/NCGibbon/airline-reservation-system